In [1]:
import os 
os.environ["OPENAI_API_KEY"] = ""

In [2]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

db = SQLDatabase.from_uri("sqlite:///../northwind-SQLite3/dist/northwind.db")
toolkit = SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0.8, model_name="gpt-3.5-turbo-0613"))

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0.8, model_name="gpt-3.5-turbo-0613"),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

/home/longyung/.local/lib/python3.10/site-packages/langchain/llms/openai.py:179: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(
/home/longyung/.local/lib/python3.10/site-packages/langchain/llms/openai.py:751: UserWarning: You are trying to use a chat model. This way of initializing it is no longer supported. Instead, please use: `from langchain.chat_models import ChatOpenAI`
  warnings.warn(

In [3]:
agent_executor.run("Give me some more information about the product for our database")

> Entering new  chain...
Action: list_tables_sql_db
Action Input: ""
Observation: EmployeeTerritories, Employees, Regions, CustomerDemographics, Products, Suppliers, Orders, Customers, CustomerCustomerDemo, Categories, Shippers, Territories, Order Details
Thought:There are 13 tables in the database. I should query the schema of the "Products" table to get more information about the product.
Action: schema_sql_db
Action Input: "Products"
Observation:
CREATE TABLE "Products" (
	"ProductID" INTEGER NOT NULL,
	"ProductName" TEXT NOT NULL,
	"SupplierID" INTEGER,
	"CategoryID" INTEGER,
	"QuantityPerUnit" TEXT,
	"UnitPrice" NUMERIC DEFAULT 0,
	"UnitsInStock" INTEGER DEFAULT 0,
	"UnitsOnOrder" INTEGER DEFAULT 0,
	"ReorderLevel" INTEGER DEFAULT 0,
	"Discontinued" TEXT DEFAULT '0' NOT NULL,
	PRIMARY KEY ("ProductID"),
	FOREIGN KEY("SupplierID") REFERENCES "Suppliers" ("SupplierID"),
	FOREIGN KEY("CategoryID") REFERENCES "Categories" ("CategoryID"),
	CHECK ([UnitPrice]>=(0)),
	CHECK ([ReorderLevel]>=(0)),
	CHECK ([UnitsInStock]>=(0)),
	CHECK ([UnitsOnOrder]>=(0))
)

/*
3 rows from Products table:
ProductID	ProductName	SupplierID	CategoryID	QuantityPerUnit	UnitPrice	UnitsInStock	UnitsOnOrder	ReorderLevel	Discontinued
1	Chai	1	1	10 boxes x 20 bags	18.0000000000	39	0	10	0
2	Chang	1	1	24 - 12 oz bottles	19.0000000000	17	40	25	0
3	Aniseed Syrup	1	2	12 - 550 ml bottles	10.0000000000	13	70	25	0
*/
Thought:The "Products" table contains information about the products in the database. It has columns such as ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, and Discontinued. The table has a primary key on the ProductID column, and foreign keys referencing the SupplierID and CategoryID columns from the Suppliers and Categories tables respectively.

Here are 3 example rows from the Products table:
ProductID  |  ProductName  |  SupplierID  |  CategoryID  |  QuantityPerUnit  |  UnitPrice  |  UnitsInStock  |  UnitsOnOrder  |  ReorderLevel  |  Discontinued
-----------|---------------|--------------|--------------|------------------|-------------|----------------|----------------|----------------|---------------
1          |  Chai         |  1           |  1           | 10 boxes x 20 bags| 18.0        | 39             | 0              | 10             | 0
2          |  Chang        |  1           |  1           | 24 - 12 oz bottles| 19.0        | 17             | 40             | 25             | 0
3          |  Aniseed Syrup|  1           |  2           | 12 - 550 ml bottles| 10.0        | 13             | 70             | 25             | 0

Final Answer: The "Products" table contains information about the products in the database.

> Finished chain.

'The "Products" table contains information about the products in the database.'

In [4]:
agent_executor.run("which product give the highest value for our company. Please give me more detail about the product")

> Entering new  chain...
Action: list_tables_sql_db
Action Input: ""
Observation: EmployeeTerritories, Employees, Regions, CustomerDemographics, Products, Suppliers, Orders, Customers, CustomerCustomerDemo, Categories, Shippers, Territories, Order Details
Thought:I see that the "Products" table is likely the most relevant table for the question. I should query the schema of the "Products" table to see what columns I can use to find the product with the highest value.

Action: schema_sql_db
Action Input: "Products"
Observation:
CREATE TABLE "Products" (
	"ProductID" INTEGER NOT NULL,
	"ProductName" TEXT NOT NULL,
	"SupplierID" INTEGER,
	"CategoryID" INTEGER,
	"QuantityPerUnit" TEXT,
	"UnitPrice" NUMERIC DEFAULT 0,
	"UnitsInStock" INTEGER DEFAULT 0,
	"UnitsOnOrder" INTEGER DEFAULT 0,
	"ReorderLevel" INTEGER DEFAULT 0,
	"Discontinued" TEXT DEFAULT '0' NOT NULL,
	PRIMARY KEY ("ProductID"),
	FOREIGN KEY("SupplierID") REFERENCES "Suppliers" ("SupplierID"),
	FOREIGN KEY("CategoryID") REFERENCES "Categories" ("CategoryID"),
	CHECK ([UnitPrice]>=(0)),
	CHECK ([ReorderLevel]>=(0)),
	CHECK ([UnitsInStock]>=(0)),
	CHECK ([UnitsOnOrder]>=(0))
)

/*
3 rows from Products table:
ProductID	ProductName	SupplierID	CategoryID	QuantityPerUnit	UnitPrice	UnitsInStock	UnitsOnOrder	ReorderLevel	Discontinued
1	Chai	1	1	10 boxes x 20 bags	18.0000000000	39	0	10	0
2	Chang	1	1	24 - 12 oz bottles	19.0000000000	17	40	25	0
3	Aniseed Syrup	1	2	12 - 550 ml bottles	10.0000000000	13	70	25	0
*/
Thought:Based on the schema of the "Products" table, I can use the "UnitPrice" column to find the product with the highest value. I should query the "ProductID", "ProductName", and "UnitPrice" columns from the "Products" table to get more details about the product.

Action: query_sql_db
Action Input: "SELECT ProductID, ProductName, UnitPrice FROM Products ORDER BY UnitPrice DESC LIMIT 1"
Observation: [(38, 'C么te de Blaye', 263.5)]
Thought:Based on the query, the product with the highest value for the company is "C么te de Blaye" with a unit price of 263.5.

Final Answer: The product that gives the highest value for our company is "C么te de Blaye".

> Finished chain.

'The product that gives the highest value for our company is "C么te de Blaye".'

In [5]:
agent_executor.run(
    "List the total sales for each product. Which product is customers spent the most?"
)

> Entering new  chain...
Action: list_tables_sql_db
Action Input: ""
Observation: EmployeeTerritories, Employees, Regions, CustomerDemographics, Products, Suppliers, Orders, Customers, CustomerCustomerDemo, Categories, Shippers, Territories, Order Details
Thought:I can query the Products and Order Details tables to get the information I need. I should query the schema of these tables to see what columns I can use.
Action: schema_sql_db
Action Input: "Products, Order Details"
Observation:
CREATE TABLE "Products" (
	"ProductID" INTEGER NOT NULL,
	"ProductName" TEXT NOT NULL,
	"SupplierID" INTEGER,
	"CategoryID" INTEGER,
	"QuantityPerUnit" TEXT,
	"UnitPrice" NUMERIC DEFAULT 0,
	"UnitsInStock" INTEGER DEFAULT 0,
	"UnitsOnOrder" INTEGER DEFAULT 0,
	"ReorderLevel" INTEGER DEFAULT 0,
	"Discontinued" TEXT DEFAULT '0' NOT NULL,
	PRIMARY KEY ("ProductID"),
	FOREIGN KEY("SupplierID") REFERENCES "Suppliers" ("SupplierID"),
	FOREIGN KEY("CategoryID") REFERENCES "Categories" ("CategoryID"),
	CHECK ([UnitPrice]>=(0)),
	CHECK ([ReorderLevel]>=(0)),
	CHECK ([UnitsInStock]>=(0)),
	CHECK ([UnitsOnOrder]>=(0))
)

/*
3 rows from Products table:
ProductID	ProductName	SupplierID	CategoryID	QuantityPerUnit	UnitPrice	UnitsInStock	UnitsOnOrder	ReorderLevel	Discontinued
1	Chai	1	1	10 boxes x 20 bags	18.0000000000	39	0	10	0
2	Chang	1	1	24 - 12 oz bottles	19.0000000000	17	40	25	0
3	Aniseed Syrup	1	2	12 - 550 ml bottles	10.0000000000	13	70	25	0
*/


CREATE TABLE "Order Details" (
	"OrderID" INTEGER NOT NULL,
	"ProductID" INTEGER NOT NULL,
	"UnitPrice" NUMERIC DEFAULT 0 NOT NULL,
	"Quantity" INTEGER DEFAULT 1 NOT NULL,
	"Discount" REAL DEFAULT 0 NOT NULL,
	PRIMARY KEY ("OrderID", "ProductID"),
	FOREIGN KEY("ProductID") REFERENCES "Products" ("ProductID"),
	FOREIGN KEY("OrderID") REFERENCES "Orders" ("OrderID"),
	CHECK ([Discount]>=(0) AND [Discount]<=(1)),
	CHECK ([Quantity]>(0)),
	CHECK ([UnitPrice]>=(0))
)

/*
3 rows from Order Details table:
OrderID	ProductID	UnitPrice	Quantity	Discount
10248	11	14.0000000000	12	0.0
10248	42	9.8000000000	10	0.0
10248	72	34.8000000000	5	0.0
*/
Thought:I can use a JOIN between the Products and Order Details tables to get the total sales for each product. I should order the results by the total sales in descending order to find the product with the highest sales.
Action: query_sql_db
Action Input: "SELECT p.ProductName, SUM(od.UnitPrice * od.Quantity) AS TotalSales FROM Products p JOIN 'Order Details' od ON p.ProductID = od.ProductID GROUP BY p.ProductName ORDER BY TotalSales DESC LIMIT 10"
Observation: [('C么te de Blaye', 149984.2), ('Th眉ringer Rostbratwurst', 87736.4), ('Raclette Courdavault', 76296), ('Camembert Pierrot', 50286.0), ('Tarte au sucre', 49827.90000000001), ('Gnocchi di nonna Alice', 45121.2), ('Manjimup Dried Apples', 44742.6), ('Alice Mutton', 35482.2), ('Carnarvon Tigers', 31987.5), ('R枚ssle Sauerkraut', 26865.6)]
Thought:The product with the highest sales is "C么te de Blaye" with a total sales of 149984.2.
Final Answer: C么te de Blaye

> Finished chain.

'C么te de Blaye'